p {
    color: green;
}

.alerteRouge {
    color: red;
    font-size: larger;
    font-style: italic;
}

.pasDAlerte {
    color: black;
    font-size: medium;
    font-style: normal;
}

.design:hover {
    border: 15px solid red;
}

#chrono{
    display: inline;
    border: 5px solid green;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

#chronoP {
    color: black;
}

.flexbox-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
  }