#header{
    background-color:rgb(30,30, 30);

}
#grandtitre{
    
    color:white;
    font-family: KNOCKOUT;
}
#grandtitre h1{
    text-align: center;
    color:white;
    font-family: KNOCKOUT;
}


#ballon{
    width: 50%;
    height: 50%;
}

#fff{
    width: 30%;
    height: 30%;
}

#middle{
    background-color: blue;
   background-image: url("Ressource site/LDC image de fond.jpg");
   width: 100%;
   background-size: cover;

}


#grosseboite {
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    width: 100%;
}
.boite {
    
    margin-left: 8.33%;
    margin-right: 8.33%;
    width: 25%;
    border: 1px solid white;
    height: 149px;
    background-color:transparent;
}

.small-separator {
    height: 35px;
}
.large-separator {
    height: 100px;
}
.xlarge-separator {
    height: 500px;
}
.xsmall-separator {
    height: 10px;
}
#groupe{
    position: center;
}



